{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Файл</th>
                    <th scope="col">Распознанный текст</th>
                    <th scope="col">Суммаризация распознанного текста</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{file}}</td>
                    <td>{{asr_result.transcription}}</td>
                    <td>{{summarization_result.summatization_text}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Время выполнения: {{asr_result.elapsed_time}} сек.</td>
                    <td>Время выполнения: {{summarization_result.elapsed_time}} сек.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

